# Ignore everything by default
*

# Git files
!.gitignore
!.gitmodules

# Bash configuration
!.bash-it
!.bash_profile
!.bashrc
!.custom-bash-it/
!.custom-bash-it/**

# Zsh configuration
!.antigen
!.antigenrc
!.zshrc

# Common shell configuration
!.aliases
!.exports
!.path

# Add back standard XDG base directory
!.config/

# Git global configuration
!.csp-brief-template.txt
!.gitconfig
!/.git-templates/
!/.git-templates/**
!.config/git/
!.config/git/**

# Vim/Neovim config
!.config/nvim/
!.vimrc

# SSH config
!.ssh/
.ssh/**
!.ssh/config

# Tmux
!.tmux.conf

# Tig
!.config/tig/
!.config/tig/**

# Editor Config for dotfiles
!.editorconfig
