[color "branch"]
    current = "#e78c45 #424242 bold"
    local = "#7aa6da"
    remote = "#e7c547"
    upstream = "#70c0b1"
    plain = "#c397d8"
[color "decorate"]
    branch = "#7aa6da reverse"
    remoteBranch = "#c397d8 reverse"
    tag = "#e78c45 reverse"
    stash = "#d54e53 reverse"
    HEAD = "#b9ca4a reverse"
[color "diff"]
    context = "#969896"
    plain = "#969896"
    meta = "#eaeaea"
    frag = "#7aa6da"
    old = "#d54e53 #2a2a2a"
    new = "#b9ca4a #424242"
    func = "#cc99cc"
    whitespace = "#d54e53 #d54e53"
[color "grep"]
    context = "#969896"
    filename = "#eaeaea"
    function = "#eaeaea"
    linenumber = "#7aa6da"
    match = "#b9ca4a"
    matchContext = "#b9ca4a"
    matchSelected = "#b9ca4a"
    selected = "#969896"
    separator = "#7aa6da"
[color "interactive"]
    prompt = "#eaeaea"
    header = "#e7c547"
    help = "#b9ca4a"
    error = "#e78c45"
[color "status"]
    header = "#969896"
    added = "#b9ca4a"
    changed = "#e78c45"
    untracked = "#e7c547"
    branch = "#7aa6da reverse"
    nobranch = "#d54e53 bold ul blink reverse"
